{% extends "index.html" %}
{% block title %}
    批量执行命令
{% endblock %}

{% block page-title %}
    批量执行命令
{% endblock %}

{% block page-content %}
    <div class="alert alert-warning fade in hide " id="warning_div">
        <button class="close" data-dismiss="alert"><span>×</span></button>
        <strong>Warning!</strong> 主机没有选择或者执行命令没有输入
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">主机(组)列表</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group form-block">
                        {% for group in request.user.bind_group.select_related %}

                            <label class="form-checkbox form-normal form-primary active form-text"
                                   onclick="HostListDisplay(this)">
                                <input target="f_check" type="checkbox" onclick="selectAllCheckbox(this)">
                                <a class="list-group-item" href="#">
                                    {{ group }}
                                    <span class="badge badge-primary">{{ group.hosts.all.count }}</span>
                                </a>
                            </label>
                            <ul class="hide list-group">
                                {% for bind_host in group.hosts.select_related %}

                                    <li class="list-group-item list-item-sm">
                                        <input target="checkbox_host" type="checkbox">
                                        <span class="hide">{{ bind_host.id }}</span>
                                        <span>{{ bind_host.host.ip_addr }}@{{ bind_host.host_user.username }}</span>
                                    </li>
                                {% endfor %}
                            </ul>

                        {% endfor %}

                        <label class="form-checkbox form-normal form-primary active form-text"
                               onclick="HostListDisplay(this)">
                            <input type="checkbox" onclick="selectAllCheckbox(this)">
                            <a class="list-group-item" href="#">
                                未分组主机
                                <span class="badge badge-primary">{{ request.user.bind_host.count }}</span>
                            </a>
                        </label>
                        <ul class="hide list-group">
                            {% for hosts in  request.user.bind_host.select_related %}

                                <li class="list-group-item list-item-sm">
                                    <input target="checkbox_host" type="checkbox" onclick="(this)">
                                    <span class="hide">{{ hosts.id }}</span>
                                    <span>{{ hosts.host.ip_addr }}@{{ hosts.host_user.username }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="panel  panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">操作命令</h3>
                </div>
                <div class="panel-body">
                    <div class="row" id="cmd_div">
                        <textarea id="cmd_text" class="form-control" type="text" placeholder="请输入执行命令"></textarea>
                        <br>
                        <input id="submit_cmd" class="col-lg-2 btn btn-danger pull-right" type="submit" value="执行命令">
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">操作结果</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group" id="result_div_ul">
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        var csrftoken = $.cookie("csrftoken");

        function HostListDisplay(ele) {
            $(ele).next().toggleClass("hide");
        }

        function selectAllCheckbox(ele) {

            $(ele).parent().next().find("input").prop("checked", $(ele).prop("checked"))

        }

        $("#cmd_div").on("click", "#submit_cmd", function () {
            var select_host_list = []
            //标记有没有选择主机
            var host_select_tag = false
            //标记有没有输入命令
            var cmd_tag = false
            $('input[target="checkbox_host"]').each(
                    function () {
                        if ($(this).prop("checked")) {
                            var host = $(this).next().text();
                            select_host_list.push(host)
                            host_select_tag = true
                        }
                    }
            )


            var exec_cmd = $("#cmd_text").val()
            if (exec_cmd.length != 0) {
                cmd_tag = true

            }

            var ul = $("#result_div_ul")
            ul.empty()

            //弹出警告
            if (host_select_tag && cmd_tag) {
                $("#warning_div").addClass("hide");


                //传递后台
                $.ajax({
                            url: "{% url "multitask_cmd" %}",
                            type: "POST",
                            data: {"select_host_list": select_host_list, "exec_cmd": exec_cmd, "task_type": 0},
                            headers: {"X-CSRFtoken": csrftoken},
                            transctions: true,
                            dataType: "JSON",
                            success: function (thr) {

                                console.log("return", thr)
                                if (thr.status) {
                                    var hosts = thr.data

                                    //绑定前先清空ul内容
                                    for (index in hosts) {
                                        //[(2, '192.167.2.2', 'Authentication failed.', 1)]  (id,host,result,status)


                                        var li = document.createElement("li");
                                        li.setAttribute("class", "list-group-item");
                                        li.setAttribute("target", hosts[index][0]);
                                        li.innerText = "主机:" + hosts[index][1];
                                        var span = document.createElement("span");
                                        span.setAttribute("class", "badge badge-primary");

                                        span.innerText = "状态:" + "开始执行";
                                        li.appendChild(span);
                                        var pre = document.createElement("pre");
                                        pre.innerText = "init...";
                                        li.appendChild(pre);
                                        ul.append(li)
                                    }


                                    //全局变量调用定时任务
                                    ResultRefresh = setInterval(
                                            function () {

                                                show_cmd_result(thr.task_id)
                                            }, 1000
                                    );

                                } else {
                                    alert(thr.error)
                                }
                            }
                        }
                )
                //执行命令没有结束前，不允许在执行
                $(this).attr("disabled", true)

            } else {
                $("#warning_div").removeClass("hide");
            }

        })


        //定时任务
        function show_cmd_result(task_id) {
            $.getJSON(
                    "{% url "taskresult" %}",
                    {"task_id": task_id},
                    function (callback) {
                        var result_flag = true
                        $.each(callback,
                                function (index, ele) {
                                    var li_ele = $("li[target='" + ele["id"] + "']");

                                    var span = li_ele.children("span")
                                    //修改执行状态
                                    var status = ele["status"]
                                    if (status == 0) {
                                        host_status_info = "成功"
                                        span.attr("class", "badge badge-success");
                                    }
                                    if (status == 1) {
                                        host_status_info = "失败"
                                        span.attr("class", "badge badge-danger");
                                    }
                                    if (status == 2) {
                                        host_status_info = "初始化"
                                        span.attr("class", "badge badge-purple");
                                    }
                                    span.text("状态"+host_status_info)

                                    li_ele.children().next().text(ele["result"]);

                                    if (ele["status"] == 2) {
                                        result_flag = false;
                                    } else {
                                        result_flag = true;
                                    }
                                })
                        if (result_flag) {
                            //取消定时器
                            clearInterval(ResultRefresh);
                            //回复执行按钮
                            $("#submit_cmd").removeAttr("disabled")


                        }
                    }
            )

        }
    </script>
{% endblock %}